<h1> <%= @list.name %></h1>

<%= link_to 'Add a Movie', new_list_bookmark_path(@list) %>

<ul>
  <% @list.bookmarks.each do |bookmark| %>
  <li>
      <%= bookmark.movie.title %>
      <p>Thoughts: <%= bookmark.comment %></p>
  </li>
  <% end %>
</ul>

<%= link_to 'Home', lists_path %>
