<h1>Add a movie to <%= @list.name %></h1>

<%# <%= link_to 'Back', new_list_bookmark_path(@link) %> %>


<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.association :movie %>
    <%= f.input :comment%>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
